.container {
  max-width: 500px;
}

.btnClose {
  cursor: pointer;
}

.authForm {
  background-color: #fff;
}

.input {
  margin-bottom: 10px;
}

.submitButton {
  margin-top: 20px;
}

.socialIcons {
  margin-top: 20px;
}

.socialIcon {
  margin: 0 10px;
}

.btnLink {
  cursor: pointer;
}