/* Footer.css */

.footer-container {
    width: 100%;
    background-color: #003153;
    color: white;
  }
  
  .footer {
    max-width: 1500px;
    margin: auto;
    padding: 40px 20px;
  }
  
  .footer p,
  .footer h5,
  .footer a {
    color: #fff;
    background-color: transparent; /* Ensure background is transparent */
  }
  
  .footer h5 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .footer a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    text-decoration: underline;
    color: #007bff;
  }
  
  .footer .form-control {
    border-radius: 0;
    border: none;
    margin-bottom: 10px;
    background-color: transparent; /* Ensure background is transparent */
    color: #fff; /* Ensure text color is white */
  }
  
  .footer .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 0;
  }
  
  .footer .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .footer .fa-icon {
    margin: 0 10px;
    color: #fff;
    transition: color 0.3s;
    font-size: 1.5em;
  }
  
  .footer .fa-icon:hover {
    color: #007bff;
  }
  
  .footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .footer .social-icons li {
    list-style: none;
  }
  
  .footer .social-icons a {
    color: #fff;
    transition: color 0.3s;
  }
  
  .footer .social-icons a:hover {
    color: #007bff;
  }
  
  .footer .nav-link {
    padding: 0;
    margin-bottom: 10px;
    background-color: transparent; /* Ensure background is transparent */
  }
  
  .footer .nav-item {
    margin-bottom: 10px;
  }
  
  .footer .border-top {
    border-top: 1px solid #fff;
  }
  
  .footer .text-secondary {
    color: #ccc;
    transition: color 0.3s;
  }
  
  .footer .text-secondary:hover {
    color: #fff;
  }