/* Footer.css */

.footer-container {
  width: 100%;
  background-color: #003153;

  color: white;
}

.footer {
  max-width: 1500px;
  margin: auto;
  padding: 20px 0;
}

.footer p,
.footer h5,
.footer a {
  color: #fff;
}

.footer h5 {
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .form-control {
  border-radius: 0;
  border: none;
}

.footer .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 0;
}

.footer .btn-primary:hover {
  background-color: #007bff;
}

.footer .fa-icon {
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s;
  font-size: 1.5em;
}

.footer .fa-icon:hover {
  color: #007bff;
}

.footer .fa-icon :hover {
  color: #007bff;
}