/* Header.css */

.header {
  background-color: #333;
  color: #333;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #003153;
  padding: 5px 10px;
  border-radius: 5px;


}


.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #0d9494;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 5px;
  cursor: pointer;
}

.search-bar {
  margin-left: 10px;
  padding: 5px;
}

.translator {
  margin-left: 10px;
  padding: 5px;
}

.cta-button {
  background-color: #003153;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #003153;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  color: #fff;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown span {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

.dropdown span:hover {
  background-color: #555;
}