/* App.css */

.main-container {
  display: flex;
  padding-top: 20px;
  /* Add some padding to avoid overlap with the Herosection */
}



.content {
  width: 80%;
  /* Adjusted width for main content */
  margin-left: 20%;
  padding: 20px;
  background-color: #f8f9fa;
}